<app-alert *ngIf="showAlert" [color]="alertColor">
  {{ alertMsg }}
</app-alert>

<form [formGroup]="loginForm" (ngSubmit)="OnLogin()">
  <div class="mb-3">
    <label class="inline-block mb-2">Email</label>
    <app-input type="email" [control]="email" placeholder="Enter Email">
    </app-input>
  </div>
  <div class="mb-3">
    <label class="inline-block mb-2">Password</label>
    <app-input [control]="password" type="password" placeholder="Password">
    </app-input>
  </div>
  <button
    type="submit"
    class="block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition hover:bg-indigo-500"
  >
    Submit
  </button>
</form>
